* { box-sizing: border-box;}


body { margin: 0; }

.nav {
  background-color: rgb(245, 242, 242);
  color:#0c0c0c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  font-weight: 100;

}

.nav ul{ 
  font-size: 3rem;
  padding: 0rem;
  margin: 1rem;
  list-style: none;
  display: flex; 
  gap: 8rem;
  padding: 0 1rem;
  text-transform: uppercase;

}

.nav a{
  color: inherit;
  text-decoration: none;
  padding: 0 1rem;
  
}

.nav li:hover {
  background-color:rgb(225, 225, 225); 
  /* padding: 0 1rem; */
}

.nav li.active {
  color:rgb(245, 242, 242);
  background-color: rgb(55, 57, 57);
  width: 100%;
  /* padding: 0 1rem; */
  
}

.container {
  display: flex;
  justify-content: center;


}




.footer {
  display: flex;
  justify-content: center ;
 
 

}

.footer ul {
  font-size: 1rem;
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  display: flex; 
  gap: 2rem;
  padding: 0 1rem;
  text-transform: uppercase;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer li:hover {
color:rgb(55, 57, 57)
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


