* { box-sizing: border-box;}

 .appholder {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 



.nav {
  background-color: rgb(245, 242, 242);
  color:#0c0c0c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  font-weight: 100;
  /* width: 100; */
  position: sticky;

}

.nav ul{ 
  font-size: 3rem;
  padding: 0rem;
  margin: 1rem;
  list-style: none;
  display: flex; 
  gap: 8rem;
  padding: 0 1rem;
  text-transform: uppercase;

}

.nav a{
  color: inherit;
  text-decoration: none;
  padding: 0 1rem;
  
}

.nav li:hover {
  background-color:rgb(225, 225, 225); 
  transition: 600ms ease;
  /* padding: 0 1rem; */
}

.nav li.active {
  color:rgb(245, 242, 242);
  background-color: rgb(55, 57, 57);
  /* width: 100%; */
  transition: 800ms ease;
  
}

.container {
  display: flex;
  justify-content: center;
}

.contact {
  font-size: 2rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
 
 
}

.contact li{
  list-style: none;
}

.contact a{
  text-decoration: none;
  color: inherit;
}




.footer {
  margin-top: auto; 
  display: flex;
  justify-content: center ;
  /* bottom: 0; */
}

.footer ul {
  font-size: 1rem;
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  display: flex; 
  gap: 2rem;
  padding: 0 1rem;
  text-transform: uppercase;
}

.footer a {

  text-decoration: none;
  color: inherit;
}

.footer li:hover {

color:rgb(55, 57, 57)
}

.videos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 3rem;
  margin: 1rem;
  width: 95vw;
  background-color: rgb(245, 242, 242);
  
 
}
/* figure out/replace with grid? rgb(252, 248, 248) */
.frame {
display: flex;
background:  linear-gradient(340deg, rgb(241, 230, 230), 20%, rgb(255, 255, 255)); 

margin: 0;
padding: 0;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.frame img {
  width: 80%;

}

.frametext {
  display: flex;
  width: 20%;
  padding: 1rem;
  justify-content:left;
}
.about {
  display: flex;
  justify-content: center;
  margin: 3rem 18rem 5rem;
  padding: 1rem;

}
.about a {
  text-decoration: none !important; text-decoration:none;
  color: inherit;
}

#nick {

  width: 50%;
  margin: .5rem;
}

#christy {

  width: 50%;
  margin: .5rem;
  
}


#nick img{
  margin: .5rem;
  float: right;
}

#christy img{ 
  margin: .5rem;
  float: left;
}

.home {
  text-align: center;
  color:rgb(245, 242, 242);
  width:90vw;
  height:90vh;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

 
